aiohappyeyeballs==2.4.3
aiohttp==3.11.7
aiosignal==1.3.1
alembic==1.14.0
annotated-types==0.7.0
anyio==4.6.2.post1
appdirs==1.4.4
apturl==0.5.2
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
auth0-python==4.7.2
Babel==2.8.0
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
beniget==0.4.1
blinker==1.4
blis==1.0.1
Bottleneck==1.3.2
Brlapi==0.8.3
Brotli==1.0.9
build==1.2.2.post1
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.20
ci-info==0.3.0
click==8.1.7
cloudpathlib==0.20.0
cohere==5.11.4
colorama==0.4.4
coloredlogs==15.0.1
comm==0.2.2
command-not-found==0.3
confection==0.1.5
configobj==5.0.8
configparser==7.0.0
crewai==0.83.0
crewai-tools==0.14.0
cryptography==43.0.3
cssselect2==0.7.0
cupshelpers==1.0
cycler==0.11.0
cymem==2.0.10
dataclasses-json==0.6.7
dbus-python==1.2.18
dcrypt==0.0.5
debugpy==1.8.1
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.15
deprecation==2.1.0
distlib==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==5.1.2
django-allauth==64.1.0
django-cors-headers==4.4.0
django-countries==7.6.1
django-crispy-forms==2.3
django-redis==5.4.0
django-sendsms==0.5
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djsm==0.1.2
docker==7.1.0
docstring_parser==0.16
docx==0.2.4
docx2txt==0.8
duplicity==0.8.21
durationpy==0.9
embedchain==0.1.125
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
et-xmlfile==1.0.1
etelemetry==0.3.1
exceptiongroup==1.2.1
executing==2.0.1
Faker==30.8.2
fastapi==0.115.5
fastavro==1.9.7
fasteners==0.14.1
filelock==3.15.4
fitz==0.0.1.dev2
flatbuffers==24.3.25
fonttools==4.29.1
frontend==0.0.3
frozenlist==1.5.0
fs==2.4.12
fsspec==2024.6.1
future==0.18.2
gast==0.5.2
google-api-core==2.23.0
google-auth==2.36.0
google-cloud-aiplatform==1.73.0
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gptcache==0.1.44
greenlet==3.1.1
grpc-google-iam-v1==0.13.1
grpcio==1.68.0
grpcio-status==1.68.0
grpcio-tools==1.68.0
gunicorn==23.0.0
gyp==0.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.20.2
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.23.4
humanfriendly==10.0
hyperframe==6.0.1
idna==3.3
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==1.1.1
instructor==1.6.4
ipykernel==6.29.4
ipython==8.25.0
isodate==0.6.1
itsdangerous==2.2.0
jdcal==1.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.4
jiter==0.6.1
joblib==1.4.2
json_repair==0.30.2
jsonpatch==1.33
jsonpickle==4.0.0
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.2
jupyter_core==5.7.2
keyring==23.5.0
kiwisolver==1.3.2
kubernetes==31.0.0
lancedb==0.16.0
langchain==0.3.8
langchain-cohere==0.3.2
langchain-community==0.3.8
langchain-core==0.3.21
langchain-experimental==0.3.3
langchain-huggingface==0.1.2
langchain-openai==0.2.10
langchain-text-splitters==0.3.2
langcodes==3.5.0
langsmith==0.1.146
language-selector==0.1
language_data==1.3.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
litellm==1.52.16
llvmlite==0.38.0
load-dotenv==0.1.0
lockfile==0.12.2
looseversion==1.3.0
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.0.1
marshmallow==3.23.1
matplotlib==3.5.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mem0ai==0.1.33
mmh3==5.0.1
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.1.0
murmurhash==1.0.11
mypy-extensions==1.0.0
mysqlclient==2.2.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.3
nibabel==5.2.1
nipype==1.8.6
nltk==3.9.1
nodeenv==1.9.1
numba==0.55.1
numexpr==2.8.1
numpy==2.0.2
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
odfpy==1.4.2
olefile==0.46
onnxruntime==1.20.1
openai==1.55.1
openpyxl==3.1.5
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp-proto-common==1.28.2
opentelemetry-exporter-otlp-proto-grpc==1.28.2
opentelemetry-exporter-otlp-proto-http==1.28.2
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-asgi==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-proto==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-util-http==0.49b2
orjson==3.10.12
oscrypto==1.3.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.3
parameterized==0.9.0
paramiko==2.9.3
parso==0.8.4
pathlib==1.0.1
pdfkit==1.0.0
pdfminer.six==20231228
pdfplumber==0.11.4
pexpect==4.8.0
pillow==11.0.0
platformdirs==4.2.2
pluggy==1.5.0
ply==3.11
portalocker==2.10.1
posthog==3.7.3
preshed==3.0.9
prompt_toolkit==3.0.47
propcache==0.2.0
proto-plus==1.25.0
protobuf==5.28.3
prov==2.0.1
psutil==5.9.8
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
pyarrow==18.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.1
pycairo==1.20.1
pycparser==2.22
pycups==2.0.1
pydantic==2.10.2
pydantic-settings==2.6.1
pydantic_core==2.27.1
pydot==3.0.1
Pygments==2.18.0
PyGObject==3.42.1
pyHanko==0.25.1
pyhanko-certvalidator==0.26.3
PyJWT==2.10.0
pylance==0.19.2
pymacaroons==0.13.0
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
PyNaCl==1.5.0
pyparsing==3.1.2
pypdf==5.1.0
PyPDF2==3.0.1
pypdfium2==4.30.0
PyPika==0.48.9
pypng==0.20220715.0
pyproject_hooks==1.2.0
pyRFC3339==1.1
pyright==1.1.389
pysbd==0.3.4
PySocks==1.7.1
pytest==8.3.3
python-apt==2.4.0+ubuntu4
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-docx==1.1.2
python-dotenv==1.0.1
pythran==0.10.0
pytube==15.0.0
pytz==2024.2
pyvis==0.3.2
pyxdg==0.27
pyxnat==1.6.2
PyYAML==6.0.1
pyzmq==26.0.3
qdrant-client==1.12.1
qrcode==7.4.2
rdflib==6.3.2
redis==5.0.8
referencing==0.35.1
regex==2024.11.6
reportlab==4.2.2
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.21.0
rsa==4.9
safetensors==0.4.3
schema==0.7.7
scikit-learn==1.5.0
scipy==1.8.0
seaborn==0.13.2
SecretStorage==3.3.1
selenium==4.27.1
sentence-transformers==3.3.1
shapely==2.0.6
shellingham==1.5.4
simple_file_handler==0.0.1
simplejson==3.19.2
six==1.16.0
smart-open==7.0.5
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.3.1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.35
sqlparse==0.5.1
srsly==2.4.8
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.41.3
stripe==10.8.0
svglib==1.5.1
sympy==1.13.1
systemd-python==234
tables==3.7.0
tabulate==0.9.0
tenacity==9.0.0
thinc==8.3.2
threadpoolctl==3.5.0
thriftpy2==0.5.1
tiktoken==0.7.0
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.1.0
tomli_w==1.1.0
torch==2.5.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
traits==6.3.2
transformers==4.42.3
trio==0.27.0
trio-websocket==0.11.1
triton==3.1.0
typer==0.13.1
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
uritools==4.0.3
urllib3==2.2.3
usb-creator==0.3.7
uv==0.5.4
uvicorn==0.30.5
uvloop==0.21.0
virtualenv==20.26.3
wadllib==1.3.6
wasabi==1.1.3
watchfiles==1.0.0
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
wrapt==1.17.0
wsproto==1.2.0
xdg==5
xhtml2pdf==0.2.16
xkit==0.0.0
xlwt==1.3.0
yarl==1.18.0
zipp==3.21.0
zk==0.8.5
